:root {
	/* colors */
	--color-base-light: #ffffff;
	--color-base-dark: #2d2d2d;
	--color-base-red: #ff5a56;
	--color-base-gray: #b3c5c8;
	--color-dark: #000000;
	--color-gray: #707070;
	--color-hover-red: #d74430;

	/* fonts weight */
	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-extrabold: 800;
}

/* Reset css */
*,
*::after,
*::before,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

a {
	text-decoration: none;
}

body,
html {
	background-color: var(--color-base-light);
	color: var(--color-dark);
}

ul,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

/* Header */
header {
	width: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/imperio@2x.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: contain;
}

header figure.title {
	width: 70%;
	height: 75%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header figure.title img {
	width: 35%;
}

header section.kylo-ren {
	display: flex;
	justify-content: center;
	z-index: 1;
	position: relative;
	right: 4%;
}

header section.kylo-ren img {
	width: 70%;
}

header .create-legion {
	width: 10%;
	height: 12vh;
	margin-top: 32%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

header .create-legion p {
	font-size: 1.2em;
	font-weight: var(--weight-regular);
	text-transform: uppercase;
}

header .create-legion p b {
	font-weight: var(--weight-semibold);
}

header .create-legion hr {
	height: 3px;
	width: 100%;
	background-color: var(--color-dark);
}

header .create-legion figure {
	display: flex;
	align-items: flex-end;
}

header .create-legion figure figcaption {
	font-weight: var(--weight-regular);
	margin-right: 8px;
}

header .create-legion figure figcaption span {
	font-size: 1.4em;
	font-weight: var(--weight-medium);
}

header .create-legion figure img {
	margin: 5px 2px;
	padding: 2px;
	background-color: var(--color-base-gray);
	width: 16px;
	height: 16px;
}

@media (max-width: 1124px) {
	header .create-legion p {
		font-size: 1em;
	}
	header .create-legion figure figcaption span {
		font-size: 1.2em;
	}
}

@media (max-width: 950px) {
	header .create-legion {
		width: 12%;
	}
}

@media (max-width: 790px) {
	header .create-legion {
		width: 14%;
	}
}

@media (max-width: 710px) {
	header .create-legion p {
		font-size: 0.9em;
	}
	header .create-legion figure figcaption span {
		font-size: 1.1em;
	}
	header .create-legion figure figcaption {
		font-size: 0.9em;
	}
}

@media (max-width: 640px) {
	header .create-legion {
		width: 15%;
		height: 10vh;
	}
}

@media (max-width: 600px) {
	header .create-legion figure figcaption {
		margin-right: 4px;
	}
	header .create-legion figure img {
		margin: 2px;
	}
}

@media (max-width: 530px) {
	header .create-legion {
		width: 16%;
	}
}

@media (max-width: 500px) {
	header .create-legion {
		width: auto;
		height: 10vh;
	}
	header .create-legion p {
		font-size: 0.9em;
	}
	header .create-legion figure figcaption span {
		font-size: 1.12em;
	}
	header .create-legion figure figcaption {
		font-size: 0.7em;
	}
}
