@import "./header.css";
@import "./about.css";

:root {
	/* colors */
	--color-base-light: #ffffff;
	--color-base-dark: #2d2d2d;
	--color-base-red: #ff5a56;
	--color-base-gray: #b3c5c8;
	--color-dark: #000000;
	--color-gray: #707070;
	--color-hover-red: #d74430;

	/* fonts weight */
	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-extrabold: 800;
}

/* Reset css */
*,
*::after,
*::before,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

a {
	text-decoration: none;
}

body,
html {
	background-color: var(--color-base-light);
	color: var(--color-dark);
}

ul,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

/* Main */
main {
	width: 100%;
}

article {
	width: 100%;
	position: relative;
	top: -7vw;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;

	background-image: url("../assets/at-at.png");
	background-repeat: no-repeat;
	background-size: contain;
}

article hr.divider {
	background-color: var(--color-gray);
	width: 85vw;
	margin-bottom: 4rem;
	border: 4px solid var(--color-gray);
}

section.attributes {
	width: 100%;
	padding: 8rem 0;
	z-index: 0;
	position: relative;
	top: -110px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;

	background-color: var(--color-base-dark);
	color: var(--color-base-light);
}

section.attributes h2 {
	width: 75%;
	text-transform: uppercase;
	font-size: min(2.5em, 5.4vw);
	font-weight: var(--weight-extrabold);
}

section.gallery-attributes {
	width: 90%;
	height: max-content;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}

section.gallery-attributes figure {
	height: 38vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section.gallery-attributes figure:nth-child(1) {
	height: 100%;
	grid-row-start: 1;
	grid-row-end: 3;
	background-image: url("../assets/star-wars-battlefront.png");
}
section.gallery-attributes figure:nth-child(1) .box--content {
	background-color: #5d1c99;
	gap: 3rem;
}
section.gallery-attributes figure:nth-child(1) .box--content h3 {
	font-size: min(1.5em, 4vw);
}
section.gallery-attributes figure:nth-child(1) .box--content p {
	font-size: min(1em, 3vw);
}

section.gallery-attributes figure:nth-child(2) {
	background-image: url("../assets/stormtrooper.png");
}
section.gallery-attributes figure:nth-child(2) .box--content {
	background-color: var(--color-hover-red);
}

section.gallery-attributes figure:nth-child(3) {
	background-image: url("../assets/atat-stormtrooper.png");
}
section.gallery-attributes figure:nth-child(3) .box--content {
	background-color: #cb9241;
}

section.gallery-attributes figure:nth-child(4) {
	background-image: url("../assets/ships-battling.png");
}
section.gallery-attributes figure:nth-child(4) .box--content {
	background-color: #5dcd2b;
}

section.gallery-attributes figure:nth-child(5) {
	background-image: url("../assets/capitainphasma-stormtrooper.png");
}
section.gallery-attributes figure:nth-child(5) .box--content {
	background-color: #1622c8;
}

section.gallery-attributes figure .box--content {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;

	opacity: 0.7;
	transform: scale(0);
	transition: 1s ease;
}

.box--content .content {
	height: 80%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

section.gallery-attributes figure:hover .box--content {
	transform: scale(1.05);
}

section.gallery-attributes figure .box--content .border-content {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.box--content span {
	border: 3px solid var(--color-base-light);
	width: 30px;
	height: 30px;
}

.box--content span.top-left-angle {
	border-right: none;
	border-bottom: none;
}

.box--content span.bottom-right-angle {
	border-left: none;
	border-top: none;
}

section.gallery-attributes figure .box--content h3 {
	width: 175px;
	text-transform: uppercase;
	font-weight: var(--weight-extrabold);
	font-size: min(1.3em, 4vw);
}

section.gallery-attributes figure .box--content p {
	font-weight: var(--weight-regular);
	font-size: min(0.9em, 3vw);
}

section.gallery-attributes figure .box--content button {
	width: 110px;
	height: 45px;

	border: 2px solid var(--color-base-light);
	background-color: transparent;

	color: var(--color-base-light);
	font-weight: var(--weight-medium);
	font-size: min(1em, 3vw);
	cursor: pointer;
}

section.hierarchy {
	width: 100%;
	gap: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-base-dark);
}

section.hierarchy figure {
	width: 90%;
}

section.hierarchy figure img {
	width: 100%;
	height: 95vh;
}

section.hierarchy .container--text {
	width: 90%;
	text-align: end;
	display: flex;
	justify-content: flex-end;
}

section.hierarchy .container--text p {
	width: 50%;
	font-size: min(0.9em, 3vw);
	font-weight: var(--weight-light);
}

@media (max-width: 1400px) {
	article {
		padding: 0 24px;
	}

	.container--about {
		flex-direction: column-reverse;
		align-items: flex-end;
	}
}

@media (max-width: 880px) {
	article {
		background: var(--color-base-light);
		padding: 0;
	}

	section.about {
		background-image: url("../assets/at-at.png");
		background-repeat: no-repeat;
		background-size: contain;

		width: 100%;
		padding: 5rem 24px 0;
		gap: 2rem;
		top: 0;
		height: max-content;
		flex-direction: column;
	}

	.container--about {
		width: 60vw;
		gap: 2rem;
		margin-top: 24px;
	}

	.container--about figure {
		width: 340px;
	}

	section.box--about {
		width: 100%;
		height: 12vh;
		gap: 0.6rem;
		margin-top: 0;
	}

	article hr.divider {
		margin-top: 24px;
		margin-right: 24px;
		margin-bottom: 0;
	}

	section.structure-game {
		margin-top: 0;
		width: 100vw;
	}

	section.structure {
		width: 90vw;
		gap: 0.5rem;
		top: 0;
		margin-bottom: 23px;
	}

	section.structure ul li {
		padding: 4px 2px;
	}

	section.attributes {
		top: 0;
		height: min-content;
	}

	section.gallery-attributes {
		grid-template-columns: 100%;
		height: max-content;
	}

	section.gallery-attributes figure {
		height: 35vh;
	}
}

@media (max-width: 620px) {
	.container--get-started {
		width: 70vw;
		height: 100vw;
	}

	section.box--about {
		margin-top: 0;
		margin-bottom: 24px;
	}

	section.get-started {
		background-size: cover;
	}

	.container--about {
		width: 100%;
	}

	.container--about figure {
		width: 70vw;
	}
}
