@import "./header.css";

:root {
	/* colors */
	--color-base-light: #ffffff;
	--color-base-dark: #2d2d2d;
	--color-base-red: #ff5a56;
	--color-base-gray: #b3c5c8;
	--color-dark: #000000;
	--color-gray: #707070;
	--color-hover-red: #d74430;

	/* fonts weight */
	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-extrabold: 800;
}

/* Reset css */
*,
*::after,
*::before,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

a {
	text-decoration: none;
}

body,
html {
	background-color: var(--color-base-light);
	color: var(--color-dark);
}

ul,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

/* Main */
main {
	width: 100%;
}

/* Section About*/
article {
	width: 100%;
	position: relative;
	top: -7vw;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;

	background-image: url("../assets/at-at.png");
	background-repeat: no-repeat;
	background-size: contain;
}

article hr.divider {
	background-color: var(--color-gray);
	width: 85vw;
	margin-bottom: 4rem;
	border: 4px solid var(--color-gray);
}

section.about {
	width: 85vw;
	height: 80vh;
	position: relative;
	top: -120px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.container--get-started {
	width: 340px;
	height: 70vh;

	z-index: 1;
}

section.get-started {
	width: 100%;
	height: 100%;
	padding: 5px 24px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	background-image: url("../assets/stormtrooper-red.png");
	background-repeat: no-repeat;

	color: var(--color-base-light);
}

section.get-started h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: min(2em, 6.5vw);
	font-weight: var(--weight-medium);
}

section.get-started p {
	font-size: min(1em, 3.5vw);
	font-weight: var(--weight-light);
}

section.get-started .box--test-update {
	width: 100%;
	text-align: end;
}

section.get-started span {
	font-size: min(0.7em, 2vw);
	font-weight: var(--weight-light);
}

section.get-started button {
	width: 150px;
	height: 40px;

	border: 2px solid var(--color-base-light);
	border-radius: 5px;

	background-color: transparent;
	color: var(--color-base-light);
	text-align: center;
	text-transform: uppercase;
	font-weight: var(--weight-medium);
	font-size: 0.9em;

	z-index: 1;
	position: relative;
}

section.get-started button::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: var(--color-dark);

	transform-origin: center left;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

section.get-started button:hover {
	cursor: pointer;
	font-size: 1em;
}

section.get-started button:hover::before {
	transform-origin: center left;
	transform: scaleX(1);
}

.container--about {
	width: max-content;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 24px;
}

section.box--about {
	height: 30vh;
	width: 30vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	text-align: end;
}

section.box--about h2 {
	text-transform: uppercase;
	font-weight: var(--weight-semibold);
	font-size: min(1.5em, 4vw);
}

section.box--about hr {
	width: 40%;
	background-color: var(--color-dark);
	border: 1px solid var(--color-dark);
}

section.box--about p {
	font-size: min(1em, 2.8vw);
	font-weight: var(--weight-regular);
}

section.structure-game {
	width: 85vw;
	margin-top: 2rem;
	position: relative;
	top: 40px;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

section.structure-game figure.darthmaul {
	width: 85vw;
}

section.structure-game figure:last-of-type img {
	width: 45vw;
}

section.structure {
	width: 55vw;
	position: relative;
	top: -50px;
	right: 10%;
	text-align: end;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

section.structure h2 {
	text-transform: uppercase;
	line-height: 0.9;
	font-size: min(3.5em, 4vw);
	font-weight: var(--weight-semibold);
}

section.structure h2 span {
	font-weight: var(--weight-extrabold);
}

section.structure ul {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
}

section.structure ul li {
	width: 100%;
	padding: 6px 8px;

	text-transform: uppercase;
	font-weight: var(--weight-regular);
	font-size: min(1.3em, 2.5vw);
}

section.structure ul li:hover {
	background-color: var(--color-hover-red);
	color: var(--color-base-light);
}

section.attributes {
	width: 100%;
	height: 85vh;
	padding: 24px 0;
	z-index: 0;
	position: relative;
	top: -110px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;

	background-color: var(--color-base-dark);
	color: var(--color-base-light);
}

section.attributes h2 {
	width: 75%;
	text-transform: uppercase;
	font-size: min(2.5em, 5.4vw);
	font-weight: var(--weight-extrabold);
}

section.gallery-attributes {
	width: 90%;
	height: 70vh;
	border: 1px solid #000;
	display: grid;
	grid-template-columns: 50% 25% 25%;
}

section.gallery-attributes figure {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section.gallery-attributes figure:nth-child(1) {
	border: 1px solid #000;
	grid-row-start: 1;
	grid-row-end: 3;

	background-image: url("../assets/star-wars-battlefront.png");
}

section.gallery-attributes figure:nth-child(2) {
	background-image: url("../assets/stormtrooper.png");
}

section.gallery-attributes figure:nth-child(3) {
	background-image: url("../assets/atat-stormtrooper.png");
}

section.gallery-attributes figure:nth-child(4) {
	background-image: url("../assets/ships-battling.png");
}

section.gallery-attributes figure:nth-child(5) {
	background-image: url("../assets/capitainphasma-stormtrooper.png");
}

@media (max-width: 1400px) {
	article {
		padding: 0 24px;
	}

	.container--about {
		flex-direction: column-reverse;
		align-items: flex-end;
	}
}

@media (max-width: 880px) {
	article {
		background: var(--color-base-light);
		padding: 0;
	}

	section.about {
		background-image: url("../assets/at-at.png");
		background-repeat: no-repeat;
		background-size: contain;

		width: 100%;
		padding: 5rem 24px 0;
		gap: 2rem;
		top: 0;
		height: max-content;
		flex-direction: column;
	}

	.container--about {
		width: 60vw;
		gap: 2rem;
		margin-top: 24px;
	}

	.container--about figure {
		width: 340px;
	}

	section.box--about {
		width: 100%;
		height: 12vh;
		gap: 0.6rem;
		margin-top: 0;
	}

	article hr.divider {
		margin-top: 24px;
		margin-right: 24px;
		margin-bottom: 0;
	}

	section.structure-game {
		margin-top: 0;
		width: 100vw;
	}

	section.structure {
		width: 90vw;
		gap: 0.5rem;
		top: 0;
		margin-bottom: 23px;
	}

	section.structure ul li {
		padding: 4px 2px;
	}

	section.attributes {
		top: 0;
	}
}

@media (max-width: 620px) {
	.container--get-started {
		width: 70vw;
		height: 100vw;
	}

	section.box--about {
		margin-top: 0;
		margin-bottom: 24px;
	}

	section.get-started {
		background-size: cover;
	}

	.container--about {
		width: 100%;
	}

	.container--about figure {
		width: 70vw;
	}
}
